<canvas #canvas id="canvas" width = "0" height = "0"></canvas>
<div class="header">
  <div class="row">
    <div class="input-group">
      <input type="text"
             class="inpt form-control"
             placeholder="Введите что-нибудь"
             [(ngModel)]="inputToDo">
      <span class="input-group-btn">
        <button class="btn btn-default"
                type="button"
                (click)="addToList()"
                [disabled]="!inputToDo"
        >Добавить</button>
      </span>
    </div>
    <div class="input-group" id="filter">
      <input type="text"
             class="inpt form-control"
             placeholder="Фильтер"
             [(ngModel)]="inputFilter"
             [disabled]="!filterOn">
      <span class="input-group-btn">
        <button class="btn btn-default"
                type="button"
                (click)="filterList()"
                [disabled]="!inputFilter"
        >{{filterButton}}</button>
      </span>
    </div>
  </div>
</div>
