<div class="header">
  <div class="row">
    <div class="input-group">
      <app-header-input [(inputString)]="inputToDo"
                        (emitInputString)="addToList($event)"
      ></app-header-input>
    </div>
    <div class="filter input-group">
      <app-header-input [(inputString)]="inputFilter"
                        [inputDisabled]="filterOn"
                        [inputButtonName]="filterButton"
                        (emitInputString)="filterList($event)"
      ></app-header-input>
    </div>
  </div>
</div>
