.list {
  display: flex;
  justify-content: left;
  width: 400px;
  height: 40px;
  margin-left: 10px;
  border-radius: 0;
}


.clip0 {
  width: max-content;
  max-width: 400px;
  height: 20px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.el {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.btn {
  width: 100px;
  height: 40px;
}
