.list {
  overflow-x: hidden;
  width: 100vh;
  margin-top: 50px;
}

.list-scrollbar {
  display: flex;
  justify-content: left;
  margin-right: 0;
  position: fixed;
  overflow-y: auto;
  width: 550px;
  height: calc(90vh - 105px);
}

div {
  display: flex;
  justify-content: center;
}

